doctype 5
html
  head
    title boilerplate
    link(rel='stylesheet', href='/components/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='./components/jquery/jquery.js')
    script(type='text/javascript', src='./components/bootstrap/docs/assets/js/bootstrap.js')
    script(type='text/javascript', src='./components/underscore/underscore.js')
        
    script(type='text/javascript', src='./javascripts/myapp.js')


body
    block content
